&.mac {
  @size: 19px;

  width: @size;
  height: @size;
  line-height: @size;
  padding: 0;

  &.red {
    .CircleShading3DBG(@red, 50%, 75%, @black);
  }

  &.orange {
    .CircleShading3DBG(@orange, 50%, 75%, @black);
  }

  &.green {
    .CircleShading3DBG(@green, 50%, 75%, @black);
  }

  span {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 13%;
    left: 31%;
    .CircleShading3DBG(#ffbbbba1, 50%, 50%, #ff5c5c7c);
  }

  background-color: black;
  border-radius: 0;
}
