@import "./vars/index.less";

@import "./libs/index.less";
@import "./modules/index.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html,
body,
body > div {
  .h100();
  .oFlowH();
}
