@red: #ff5c5c;
@red-border: #d43636;

@green: rgb(32, 248, 32);
@green-border: rgb(79, 190, 79);

@orange: rgb(252, 211, 26);
@orange-border: rgb(197, 153, 70);

@white: rgb(255, 255, 255);

@black: #000;

@melow-blue: #40a9ff;
